{% extends 'AppApplicationBundle:Default:new_base.html.twig'%}

{% block stylesheet %}	
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('public/pages/css/AppApplicationBundle/index.css') }}" rel="stylesheet"/>
        <link href="{{ asset('plugins/flat-admin-bootstrap-templates-master/dist/html/assets/css/vendor.css') }}" rel="stylesheet"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/css/fontastic.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- Bootstrap Select CSS-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/vendor/bootstrap-select/css/bootstrap-select.min.css">
    <!-- Bootstrap Touchspin CSS-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css">
    <!-- Bootstrap Datepicker CSS-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css">
    <!-- Bootstrap Tags input CSS-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <!-- No UI Slider-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/vendor/nouislider/nouislider.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/css/style.default.premium.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/img/favicon.ico">

{% endblock %}

{% block body %} 
{% include 'AppApplicationBundle::transaction/new_transaction_js.html.twig'  %}


    <section class="forms">
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <h1 class="h3 display">Product Data</h1>
          </header>
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>Transaction</h4>
                </div>
                <div class="card-body">
                  <div>
                   <button id="testj" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Export Product Data</button>
                   <button type="button" data-toggle="modal" data-target="#transaction_new" class="btn btn-primary">Add Product</button>
                  </div>
                  <div class="table-responsive" style="margin-top:35px;">
                    <div id="datatable1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer" style="padding-left:0px;padding-right:0px;">
                      <div class="row">
                        <div class="col-md-12 col-md-6">
                          <div class="dataTables_length" id="datatable1_length">
                            <table id="datatable1" style="width: 100%;" class="table dataTable no-footer" role="grid" aria-describedby="datatable1_info">
                                <thead>
                                <tr>
                                    <th style="width:5%">Transaction Id</th>
                                    <th style="width:20%%">Transaction Date</th>
                                    <th>Total Item</th>
                                    <th>Payment Type</th>
                                    <th>Total Transaction</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for transaction in transactions %}
                                    <tr>
                                        <td><a href="{{ path('transaction_show', { 'id': transaction.id }) }}">{{ transaction.transactionId }}</a></td>
                                        <td>{% if transaction.transactionDate %}{{ transaction.transactionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>{{ transaction.transactionTotalItem }}</td>
                                        <td>{{ transaction.transactionPaymentType }}</td>
                                        <td>{{ transaction.transactionTotalTransaction }}</td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="{{ path('transaction_show', { 'id': transaction.id }) }}">show</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('transaction_edit', { 'id': transaction.id }) }}">edit</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
              </div>
        </div>
      </section>
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade text-left" style="display: none;" aria-hidden="true">
                    <div role="document" class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 id="exampleModalLabel" class="modal-title">Export Product Data</h5>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <p>Date Range</p>
                          <form>
                            <div class="form-group">
                              <label>Start Date</label>
                             <input type="text" class="form-control input-datepicker" data-provide="datepicker" >
                            </div>
                            <div class="form-group">       
                              <label>End Date</label>
                              <input type="text"  class="form-control input-datepicker" data-provide="datepicker" >
                            </div>
                            <div class="form-group">       
                              <input type="submit" value="Signin" class="btn btn-primary">
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                          <button id="testj" type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>

{% endblock %}
{% block javascript %}
    <!-- JavaScript files-->
    <script src="{{ asset('plugins/vendor_new/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('plugins/vendor_new/popper.js/umd/popper.min.js') }}"> </script>
    <script src="{{ asset('plugins/vendor_new/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/js_new/grasp_mobile_progress_circle-1.0.0.min.js') }}"></script>
    <script src="{{ asset('plugins/vendor_new/jquery.cookie/jquery.cookie.js') }}"> </script>
    <script src="{{ asset('plugins/vendor_new/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('plugins/vendor_new/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ asset('plugins/js_new/charts-custom.js') }}"></script>
    <script src="{{ asset('plugins/js_new/bootstrap-select.min.js') }}"></script>


 <!-- Bootstrap Touchspin-->
    <script src="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Bootstrap No UI Slider-->
    <script src="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/vendor/nouislider/nouislider.min.js"></script>
    <!-- Bootstrap DatePicker-->
    <script src="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"></script>

     <!-- Data Tables-->
     <script src="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/js/tables-datatable.js"></script>

    <script src="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-3/vendor/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <!-- Main File-->
    <script src="{{ asset('plugins/js_new/front.js') }}"></script>
    <script>
        $('document').ready(function(){
          var listProductId = [];
          var listItemElement = '';
          var saveProductList = '';
          //to navigate customer type that arrived to make transaction
          $('#customerTypeField').on('change',function(e){
            if($(this).val() == 'Member'){
              $('#customerId').css("display","block");
            }else{
              $('#customerId').css("display","none");  
            }
          })

          //to select customer id when user select customer type as member

          //to save customer data
          $('#saveCustomer').click(function(){
            $(this).attr('id','saveProductList');
            $('#form-customer').css({'display':'none'});
            $('#form-product-list').css({'display':'block'});
            saveProductList = 'saveProductList'
          })

          //to display price
          $('#listProducts').on('change',function(){
            productData = getProductData($(this).val(),listProductId,0);
            console.log(productData);
          })

          //to add the product
          $('#addProduct').click(function(){

            if($('#productSellPrice>input').val() != ''){
              console.log('press');
              var productId = $('#listProducts').val();
              getProductData(productId,listProductId,1);
            }else{
              bootbox.alert("Hello world!");
            }
            
          })

          //continue to payment method page
          $('#saveProductList').click(function(){
            console.log('test');
              $('#productId').css('display','none');
              $('#productPrice').css('display','none');
              $('#productSellPrice').css('display','none');
               $('#addProduct').css('display','none');

              $('#form-payment-method').css('display','block');
          });

          //to remove product from the cart
          $('#fieldProduct').append('tr>td>button').click(function(){
            var rowIdElement = $(this).attr('id');
            console.log(rowIdElement);
          })
          $('#fieldProduct').empty()
          //to record list of the product that added to the cart

          function getProductData(productIdValue,listProductId,typeOfAction){
                var productId = productIdValue;
                $.ajax({
                url: "{{ path('sales_editSalesTemplateNewJs') }}",
                async: true,
                type: "GET",
                data: { "productId": productId },	
                contentType: "application/json"                                                     
                }).done(function (data) {
                  if(typeOfAction == 0){
                    console.log(data);
                    $('#sellPrice').css({'display':'inline-block'});
                    $('#productPrice').css({'display':'inline-block'});
                    $('#productPriceField').val(data.message[4]);
                    console.log(data.message[4]);
                    return data.message
                  }else{
                    console.log('tes')
                     if($('#productSellPrice>input').val() < data.message[4]){
                         bootbox.alert("The price should be added, can not sell in this price");
                    }else{
                    var noProduct = checkAvailiblityProductInTheCart(productIdValue,listProductId);
                    console.log(noProduct);
                    if(noProduct == false){
                      console.log($('#sellPriceField').val());
                        
                        $('#fieldProduct').append('<tr class="productAdd" id="'+productId+'"><td><a>'+productId+'</a></td><td>'+$('#sellPriceField').val()+'</td><td><button class="deleteProduct" type="button">x</button></td></tr>');
                        listProductId.push([productId,$('#sellPriceField').val()]);
                    }else{
                         bootbox.alert("Can not be added same product in the cart");
                    } 
                  }
                  
                    
                  }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                });
          }

          function checkAvailiblityProductInTheCart(productIdValue,listProductId)
          {
            var noProduct = 0;
            for(var i=0;i<listProductId.length;i++){
              if(listProductId[i][0] == productIdValue){
                noProduct++;
              }
            }

            if(noProduct == 0){
              return false;
            }else{
              return true;
            }


          }

           
        
        });
      
    </script>
    {% endblock %}

