{% extends 'AppApplicationBundle:product:base.html.twig'%}
{% block stylesheets %}
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        	<link href="{{ asset('public/pages/css/AppApplicationBundle/index.css') }}" rel="stylesheet"/>
        	<link href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
        	<link href="{{ asset('plugins/flat-admin-bootstrap-templates-master/dist/html/assets/css/vendor.css') }}" rel="stylesheet"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <h1>Products list</h1>
      <div class="col-xs-12 content-container">
      	<div class="card">
        	<div class="card-header" style="margin-top:20px;">
         	 	Transaction List 
        	</div>
        	<div class="card-body no-padding" style="margin-top:20px;">
          		<table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                         <th style="width:5%">Transaction Id</th>
                         <th style="width:20%%">Transaction Date</th>
                         <th>Total Item</th>
                         <th>Payment Type</th>
                         <th>Total Transaction</th>
                         <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                         {% for transaction in transactions %}
            			<tr>
                			<td><a href="{{ path('transaction_show', { 'id': transaction.id }) }}">{{ transaction.transactionId }}</a></td>
                            <td>{% if transaction.transactionDate %}{{ transaction.transactionDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ transaction.transactionTotalItem }}</td>
                            <td>{{ transaction.transactionPaymentType }}</td>
                            <td>{{ transaction.transactionTotalTransaction }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('transaction_show', { 'id': transaction.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('transaction_edit', { 'id': transaction.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
            			</tr>
        			 {% endfor %}
                    </tbody>
                 </table>
             </div>
      	  </div>
		  <ul>
        	<li>
            	<a href="{{ path('product_new') }}">Create a new product</a>
        	</li>
    	  </ul>
	  </div>


{% endblock %}
{% block javascripts %}
        <script type="text/javascript" src="{{ asset('plugins/jquery.min.js2.13/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/pages/scripts/AppApplicationbundle/index.js') }}"></script>
	    <!-- DataTables -->
	    <script type="text/javascript" src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
	    <script type="text/javascript">
	    $(function () {
        $('#example1').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
      </script>
{% endblock %}
