<div id="transaction_new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" class="modal fade text-left" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="exampleModalLabel" class="modal-title">Add New Transaction</h2>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form style="max-height:500px;overflow-x:hidden;overflow-y:auto">
                    <div class="form-customer" id='form-customer'>
                        <h3>Customer Information</h3>
                        <div class="form-group row" style="display:block;" id='customerType'>
                            <label class="col-sm-12 form-control-label">Customer Type</label>
                            <div class="col-sm-12 mb-3">
                                <select name="customerType" class="form-control" id="customerTypeField">
                                <option>Member</option>
                                <option>Non Member</option> 
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" style="display:none;" id='customerId'>
                            <label class="col-sm-12 form-control-label">Cusotmer Id</label>
                            <div class="col-sm-12 mb-3">
                                <select id="customerIdField" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Product Id" style="display:block!important;">
                                        {% for customerId in customerIds %}
                                            <option value="{{  customerId.customerId }}">{{ customerId.customerId }} - {{ customerId.customerName }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-product-list" id='form-product-list' style="display:none;">
                        <h3>Product Information</h3>
                            <div><p style="display:inline-block;width:30%;">Customer Type</p><p id="custTypeVal" style="display:inline-block;">:None</p></div>
                            <div><p style="display:inline-block;width:30%;">Customer Id</p><p id="custIdVal" style="display:inline-block;">:None</p> </div>
                       <div id="productAdded">                
                            <div class="form-group">
                                <label>Product Id</label>
                                <div>
                                    <select id="listProducts" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Product Id" style="display:block!important;">
                                        {% for listProduct in listProducts %}
                                            <option value="{{  listProduct.productId }}">{{ listProduct.productId }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="sellPrice" style="max-width:50%;display:none">
                                <label>Sell Price</label>
                                <input type="number" id="sellPriceField" class="form-control"  autocomplete="off"/>
                            </div> 
                            <div class="form-group" id="productPrice" style="max-width:50%;display:none">
                                <label>Price</label>
                                <input type="number" id="productPriceField" class="form-control"  autocomplete="off" disabled/>
                            </div>  
                            <button id="addProduct" type="button" class="btn btn-primary">Add Product</button>
                       </div>
                       
                        <div class="dataTables_length" id="datatable1_length">
                            <table id="datatableSales" style="width: 100%;" class="table dataTable no-footer" role="grid" aria-describedby="datatable1_info">
                                <thead>
                                <tr>
                                    <th style="width:40%">Product Id</th>
                                    <th style="width:60%">Price</th>
                                </tr>
                                </thead>
                                <tbody id="fieldProduct">
                                    <tr>
                                        <td><a >Product Id</a></td>
                                        <td>Price</td>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                           
                    </div>
                    <div class="form-payment-method" id='form-payment-method' style="display:none;">
                        <div class="form-group" id="customer-email" style="mmax-width:100%;margin:20px 0;height: 100px;display:none;">
                                <label style="display:inline-block;max-width:50%;" >Email</label>
                                <div style="max-width: 90.3%;float:right;">
                                <input  type="text" class="form-control"  autocomplete="off" placeholder="Email" style="max-width: 72.3%;float: right;"/>
                                <button id="test123" name="payNow" type="button" class="btn btn-primary" style="display: block;float: right;margin-top: 20px;">Send Email</button>
                                </div>
                        </div>
                        <div class="form-group">
                            <label style="display:inline-block;">Payment Method</label>
                            <div style="display:inline-block;float:right;">
                                <select id="paymentMethod" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Product Id" style="display:block!important;">
                                        <option value="Cash">Cash</option>
                                        <option value="Credit Card">Credit Card</option>
                                        <option value="Debit Card">Debit Card</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="totalCash" style="max-width:100%;display:none;margin:20px 0">
                            <label style="display:inline-block;max-width:50%;" >Total Cash</label>
                            <input style="display:inline-block;max-width:47.3%;float:right;" type="number" id="totalCashField" class="form-control"  autocomplete="off"/>
                        </div>

                       <div class="form-group" id="totalPayment" style="max-width:100%;display:none;margin:20px 0;">
                            <label style="display:inline-block;max-width:50%;">Total Payment</label>
                            <input type="number" id="totalPaymentField" class="form-control"  autocomplete="off" style="display:inline-block;max-width:47.3%;float:right;" disabled/>
                        </div> 
                        
                         
                        <div class="form-group" id="totalChangeDue" style="max-width:100%;display:none;margin:20px 0">
                            <label style="display:inline-block;max-width:50%;">Total Change Due</label>                            
                            <input type="number" id="totalChangeDueField" class="form-control"  autocomplete="off" style="display:inline-block;max-width:47.3%;float:right;" disabled/>
                        </div> 
                    </div>
                    <div class="form-product-list" id='form-product-list' style="display:none;">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id='sendReceipt' type="button" data-dismiss="modal" class="btn btn-secondary" style="display:none;">Send Receipt</button>
                <button id='printReceipt' type="button" data-dismiss="modal" class="btn btn-secondary" style="display:none;">Print Receipt</button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                <button id="saveCustomer" name="saveButton" type="button" class="btn btn-primary">Save changes</button>
                <button id="payNow" name="payNow" type="button" class="btn btn-primary" style="display:none;">Pay Now</button>
            </div>
        </div>
    </div>
</div>