<html>
  {% block header %}
  <script>
  		
	    function redirectTo()
	    {

	    	var d = new Date();
	        var n = Math.floor((new Date).getTime()/1000)

	        var timeout = "{{ app.session.get('timeout')}}";
	        var user = "{{ app.session.get('username')}}";
	        var valueTimeOut = timeout + 1 * 60;

	        console.log(timeout);
	        console.log(n);
	        if ( n-timeout > 960 && user == 'user'){
		    	console.log("tes");
	            // destroy session & logout
	            window.location = "{{ path('user_redirect') }}";
	    	}
	
		       
	    		
	    	
		    
	         

		}
	    </script>
  			<script defer src="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.js"></script>
     		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
     		
            
     		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"></script>

  			<link rel="stylesheet" href="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.css">
  			<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
   			<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        	<link href="{{ asset('public/pages/css/AppApplicationBundle/index.css') }}" rel="stylesheet"/>
        	<link href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
        	<link href="{{ asset('plugins/flat-admin-bootstrap-templates-master/dist/html/assets/css/vendor.css') }}" rel="stylesheet"/>

        <link rel="icon" type="image/x-icon" href="{{ asset('') }}" />
        {% block stylesheet %}
        	<style>
        		#leftWrapper{
        		border-color:#ffffff !important;
        	}
        	</style>
        	
        {% endblock %}
 {% endblock %}
 <script>redirectTo();</script>
 <div id="wrapper">
  	<div id="leftWrapper">
      <div id="listView" class="list">
        <li class="list-item-active"><a href="#">Home</a></li>
        <li><a href="{{ path('product_index') }}">Dashboard</a></li>
        <li><a href="{{ path('product_index') }}">Product</a></li>
        <li><a href="{{ path('customer_index') }}">Customer</a></li>
        <li><a href="{{ path('transaction_index') }}">Transaction</a></li>
        <li><a href="{{ path('sales_index') }}">Sales</a></li>
        <li><a href="{{ path('sales_new') }}">Revenue</a></li>
      </div>
    </div>
    <div id="rightWrapper">
      <div id="header"><a id="fullPage" href="#">|||</a>
      <a href="{{ path('user_logout') }}" style="float: right;"><i class="fa fa-sign-out" aria-hidden="true" style="margin: 10px;font-size: 36px;"></i>
</a></div>
      {% block body %} {% endblock %}
    </div>
</div>
{% block javascripts %}

         <script type="text/javascript" src="{{ asset('plugins/jquery.min.js2.13/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/pages/scripts/AppApplicationbundle/index.js') }}"></script>
	    <!-- DataTables -->
	 
{% endblock %}
