{% extends 'AppApplicationBundle:product:base.html.twig'%}
{% block stylesheets %}
        <meta charset="UTF-8" />
        <title>Product</title>
  
        	<link href="{{ asset('public/pages/css/AppApplicationBundle/index.css') }}" rel="stylesheet"/>
        	<link href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
        	<link href="{{ asset('plugins/flat-admin-bootstrap-templates-master/dist/html/assets/css/vendor.css') }}" rel="stylesheet"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
        .hidden-attr
        {
        	display:none;
        }
        </style>
{% endblock %}

{% block body %}

 <h1>Products list</h1>
      <div class="col-xs-12 content-container" style="margin-botom:50px">
      	<div class="card">
        	<div class="card-header" style="margin-top:20px;">
         	 	Product List 
        	</div>
        	 <div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" id="username" />
						<label class="mdl-textfield__label" for="username">Username</label>
					</div>
      	  </div>

	  </div>
{% endblock %}
{% block javascripts %}
         <script type="text/javascript" src="{{ asset('plugins/jquery.min.js2.13/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/pages/scripts/AppApplicationbundle/index.js') }}"></script>
	    <!-- DataTables -->
	    <script type="text/javascript" src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
	    <script type="text/javascript">
	    $(function () {
        $('#example1').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
      </script>
{% endblock %}
